.alert {
  width: 100%;
  position: absolute;
  top: 105px;
  margin: 0 auto;
  padding: 25px 15px;
  text-align: left;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity = 0);
  cursor: default;
  display: block;
  -webkit-animation: fadeOut 5s linear forwards;
  -moz-animation: fadeOut 5s linear forwards;
  -o-animation: fadeOut 5s linear forwards;
  -ms-animation: fadeOut 5s linear forwards;
  animation: fadeOut 5s linear forwards;
  background: $brown;

  @include breakpoint(600px) {
    width: 600px;
    top: 95px;
  }


  p {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
    padding: 0 10px 0 60px;
    color: $black;

    &:before {
      text-align: center;
      border: 3px solid $black;
      margin-top: -17px;
      top: 50%;
      left: 20px;
      width: 30px;
      content: 'i';
      font-size: 30px;
      color: $black;
      position: absolute;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
    }
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  99% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  99% {
    opacity: 0;
    -moz-transform: translateY(-30px);
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    -o-transform: translateY(0px);
  }

  99% {
    opacity: 0;
    -o-transform: translateY(-30px);
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }

  99% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
    transform: translateY(0px);
  }

  99% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 0;
  }
}
