body {
  opacity: 0;

  &.loaded {
    opacity: 1;
    transition: opacity 2s ease-in;
  }
}

.intro {
  background: $beige;
  background: linear-gradient(to bottom, $beige, $white);
  bottom: 0;
  top: 0;
  position: fixed;
  display: block;
  height: 100vh;
  &.scrolled {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .wrap {
    @include centerer;

    padding: 30px;
    border: 8px solid $black;
    max-width: calc(100% - 100px);
    width: 100%;
    height: calc(100% - 100px);

    .center {
      @include centerer;

      width: 100%;
    }
  }
  .wrap:after, .wrap:before {
    top: 100%;
    left: 50%;
    border: solid $beige;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .wrap:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: $white;
    border-width: 15px;
    margin-left: -15px;
  }
  .wrap:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: $black;
    border-width: 26px;
    margin-left: -26px;
  }

  .small {
    color: $black;
    display: block;
    font-size: 24px;
    font-weight: 400;
  }

  .italic {
    font-style: italic;
    letter-spacing: 0;
    text-transform: none;
  }
}

.blank {
  min-height: 100vh;
}
