// dependencies
@import "normalize";
@import "susy";
@import "bourbon";

// components
@import "mixins";
@import "variables";
@import "grid";
@import "typography";
@import "columns";
@import "splash";
@import "form";

section {
  width: 100%;
  display: inline-block;
  position: relative;

  &.what, &.about, &.why, &.partners {
    background: $white;
  }
  &.contact {
    background: $black;
  }
}

.contact,
.contact p {
  color: $white;
}


.pullquote {
  clear: left;
  float: left;
  position: relative;
  margin-top: 0;
  margin-left: -15.38462%;
  width: 53.84615%;
}

figure {
  margin: 0;
  &.right {
    float: right;
    margin-right: -200px;
  }
}

figure img {
  display: inline-block;
  margin: 0.5em 1.5em;
  position: relative;
  &.left {
    margin-left: -200px;
    float: left;
  }
}

img {
  width: 350px;
  padding: 10px;
  border: 1px solid $beige;
}
